@font-face {
	font-family: 'Gilroy';
	src: url(/fonts/Gilroy-Medium.ttf), url(/fonts/Gilroy-Medium.woff);
	font-weight: 500;
	font-display: swap;
	font-style: normal;
}

@font-face {
	font-family: 'Gilroy';
	src: url(/fonts/Gilroy-ExtraBold.ttf), url(/fonts/Gilroy-ExtraBold.woff);
	font-weight: 800;
	font-display: swap;
	font-style: normal;
}
